<!-- https://getbootstrap.jp/docs/5.0/components/modal/#modal-components -->
<!-- https://getbootstrap.jp/docs/5.0/components/close-button/ -->
<!-- https://valor-software.com/ngx-bootstrap/#/components/modals?tab=overview -->
<div class="modal-header app-message-box-caption" *ngIf="caption && caption.length">
  <h6 class="modal-title" style="float:left">{{ caption }}</h6>
  <button type="button" class="btn-close" style="float:right" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <div *ngIf="text" [innerHTML]="text"></div>
</div>
<div class="modal-footer" #footer>
  <button type="button" [class]="convertCss(button.cssClass)" (click)="close(button)" *ngFor="let button of buttons">
    {{ button.name }}
  </button>
</div>