/* You can add global styles to this file, and also import other style files */

/* app base colors */
$app-color: #242535;
$app-color-bg: white;
$app-negative-color: white;
$app-negative-color-bg: #1f4b6a;

/* Importing Bootstrap SCSS file. */
$modal-inner-padding: 0.4rem;
$modal-header-padding-y: 0.1rem;
$modal-footer-border-width: 0;
$btn-close-color: $app-negative-color;
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing fortawesome CSS file. */
@import "node_modules/@fortawesome/fontawesome-free/css/all.min.css";

.btn-cta {
  @include button-variant(#ffa41c, #fa8900, #121418);
}

.btn-default {
  @include button-variant(#f6f6f6, #D0CDC7, #343a40)
}

@mixin app-colors($color, $bg) {
  color: $color;
  background-color: $bg;
}

.app-message-box-caption {
  @include app-colors($app-negative-color, $app-negative-color-bg);
}

.app-dialog-caption {
  @include app-colors($app-negative-color, $app-negative-color-bg);
}

// https://getbootstrap.jp/docs/5.0/components/tooltips/
// https://valor-software.com/ngx-bootstrap/#/components/tooltip?tab=overview
.app-validate-invalid {
  border: 1px solid $danger;
  outline: 2px solid rgba($danger, 0.2);
}

.app-validate {
  .tooltip-inner {
    max-width: 320px;
    background-color: $danger;
  }

  &.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: $danger;
  }

  &.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: $danger;
  }

  &.bs-tooltip-start .tooltip-arrow::before {
    border-left-color: $danger;
  }

  &.bs-tooltip-end .tooltip-arrow::before {
    border-right-color: $danger;
  }
}