<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS & URL Rewrite Module用の設定ファイル（≒.htaccess） -->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="AngularJS" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/project-template/" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="html_no_cache" preCondition="IsHTMLFile">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
        </rule>
        <preConditions>
          <preCondition name="IsHTMLFile">
            <add input="{REQUEST_FILENAME}" pattern=".*\.html" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>