<p>sample-a2 works!</p>
<app-sample-links></app-sample-links>
<div [@slowOpenClose]="isOpen1 ? 'open' : 'closed'">
  <button type="button" class="btn btn-danger" (click)="throwError_click()">
    <i class="fab fa-angular"></i> throw Error
  </button>
  <button type="button" class="btn btn-danger" (click)="throwTimeoutErrorViaObservable_click()">
    <i class="fab fa-angular"></i> throw TimeoutError via Observable
  </button>
  <button type="button" class="btn btn-danger" (click)="throwTimeoutErrorViaPromise_clickAsync()">
    <i class="fab fa-angular"></i> throw TimeoutError via Promise
  </button>
</div>
<div [@fastOpenClose]="isOpen2 ? 'open' : 'closed'">
  <button type="button" class="btn btn-success" (click)="xhrGet_clickAsync()">
    <i class="fab fa-angular"></i> xhr get
  </button>
  <button type="button" class="btn btn-success" (click)="xhrPost_clickAsync()">
    <i class="fab fa-angular"></i> xhr post
  </button>
</div>
<div>
  <button type="button" class="btn btn-secondary" (click)="changeIsOpen1_click()">
    <i class="fab fa-angular"></i> change isOpen1
  </button>
  <button type="button" class="btn btn-secondary" (click)="changeIsOpen2_click()">
    <i class="fab fa-angular"></i> change isOpen2
  </button>
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="showMessageBox1_clickAsync()">
    <i class="fab fa-bootstrap"></i> show message box1
  </button>
  <button type="button" class="btn btn-primary" (click)="showMessageBox2_clickAsync()">
    <i class="fab fa-bootstrap"></i> show message box2
  </button>
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="showModal_clickAsync()">
    <i class="fab fa-bootstrap"></i> show modal
  </button>
</div>