<p>sample-a2 works!</p>
<app-sample-links></app-sample-links>
<div [@slowOpenClose]="isOpen1 ? 'open' : 'closed'">
  <button type="button" class="btn btn-danger" (click)="throwError_click()">
    <i class="fab fa-angular"></i> throw Error
  </button>
  <button type="button" class="btn btn-danger" (click)="throwTimeoutErrorViaObservable_click()">
    <i class="fab fa-angular"></i> throw TimeoutError via Observable
  </button>
  <button type="button" class="btn btn-danger" (click)="throwTimeoutErrorViaPromise_clickAsync()">
    <i class="fab fa-angular"></i> throw TimeoutError via Promise
  </button>
</div>
<div [@fastOpenClose]="isOpen2 ? 'open' : 'closed'">
  <button type="button" class="btn btn-success" (click)="xhrGet_clickAsync()">
    <i class="fab fa-angular"></i> xhr get
  </button>
  <button type="button" class="btn btn-success" (click)="xhrPost_clickAsync()">
    <i class="fab fa-angular"></i> xhr post
  </button>
</div>
<div>
  <button type="button" class="btn btn-secondary" (click)="changeIsOpen1_click()">
    <i class="fab fa-angular"></i> change isOpen1
  </button>
  <button type="button" class="btn btn-secondary" (click)="changeIsOpen2_click()">
    <i class="fab fa-angular"></i> change isOpen2
  </button>
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="showMessageBox1_clickAsync()">
    <i class="fab fa-bootstrap"></i> show message box1
  </button>
  <button type="button" class="btn btn-primary" (click)="showMessageBox2_clickAsync()">
    <i class="fab fa-bootstrap"></i> show message box2
  </button>
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="showModal_clickAsync()">
    <i class="fab fa-bootstrap"></i> show modal
  </button>
</div>
<div>
  <button type="button" class="btn btn-info" (click)="debounce_click()">
    <i class="fas fa-at"></i> debounce (1000ms)
  </button>
</div>
<div>
  <button type="button" class="btn btn-secondary" (click)="setLocaleEnus_click()">
    <i class="fas fa-earth-asia"></i> en-US</button>
  <button type="button" class="btn btn-secondary" (click)="setLocaleJajp_click()">
    <i class="fas fa-earth-asia"></i> ja-JP</button>
  <button type="button" class="btn btn-primary" (click)="showLocaledMessage_clickAsync()">
    <i class="fas fa-earth-asia"></i> {{ 'COMMON.BUTTON.DETAIL' | appLocaleText }}
  </button>
</div>
<div [formGroup]="form">
  <input type='text' formControlName="accountCode">
  <input type='text' formControlName="accountName">
  <div>
    <input type='text' formControlName="minmax______" appValidate placeholder="min max">
    <input type='text' formControlName="email_______" appValidate placeholder="e-mail@foo">
    <input type='text' formControlName="minmaxlength" appValidate placeholder="length">
  </div>
  <div>
    <input type='text' formControlName="pattern_____" appValidate placeholder="pattern">
    <input type='text' formControlName="number______" appValidate placeholder="allow Infinity">
    <input type='text' formControlName="integer_____" appValidate placeholder="integer">
  </div>
  <div>
    <input type='text' formControlName="nonNegativeI" appValidate placeholder="0~">
    <input type='text' formControlName="telephone___" appValidate placeholder="000-0000-0000">
    <input type="text" formControlName="other_______" appValidate placeholder="date" appDatepickerEx
      [bsConfig]="bsDatepickerConfig">
  </div>
  <div>
    <button type="button" class="btn btn-secondary" (click)="validateAllAsync()">
      <i class="fab fa-angular"></i> validate all
    </button>
  </div>
</div>
<div>
  <button type="button" class="btn btn-primary" (click)="showLoginDialogAsync()">
    <i class="fas fa-right-to-bracket"></i> show login dialog
  </button>
</div>